.container-inputs {
  display: grid;
  gap: 15px;
  background: black;
  padding: 10vh 30vw;
  border-radius: 30px;
}

.message {
  padding-left: 20px;
  font-weight: 600;
  align-self: end;
}

.errors {
  height: fit-content;
  align-self: end;
}

.container-inputs {
  display: grid;
  justify-content: center;
  gap: 15px;
  padding: 40px 200px;
}

button.input {
  background-color: grey;
  justify-self: end;
}
