.container {
  background-color: #222222;
  display: grid;
  height: fit-content;
  justify-self: center;
  width: min(max(500px, 70vw), 1000px);
}

.link {
  background-color: black;
  padding: 7px 15px;
  border-radius: 9px;
  color: yellow;
}
