.container {
  display: grid;
  grid-template-areas:
    "profile-pic comment-info  comment-info"
    "profile-pic content    content";
  grid-template-rows: 1rem 1fr;
  grid-template-columns: 90px 1fr;
  gap: 10px;
  border: 5px solid green;
  height: fit-content;
  padding: 15px;
}

.profile-pic {
  grid-area: profile-pic;
  place-self: top;
  border: 5px;
}

.profile-pic img {
  height: 80px;
  width: 80px;
}

.info {
  grid-area: comment-info;
  display: flex;
  justify-content: space-between;
}

.content {
  grid-area: content;
}

.date {
  color: blue;
}
