.container {
  display: flex;
  flex-direction: column;
  gap: 5px;
  border: solid 2px black;
  border-radius: 5px;
  margin: auto;
  padding: 4px 10px;
  width: min(90%, 800px);
}

.form {
  display: grid;
  gap: 15px;
  max-width: 900px;
}

.form textarea {
  font-size: 1.1rem;
  padding: 5px;
}

.form button {
  align-self: center;
}
