.container {
  display: grid;
  gap: 40px;
  grid-template-rows: 1fr 2fr 1fr;
  min-width: 800px;
  padding: max(40px, 10vh) max(100px, 30vw);
}

.form {
  background: black;
  border-radius: 30px;
  align-self: start;
}

.container-inputs {
  display: grid;
  justify-content: center;
  gap: 15px;
  padding: 40px min(max(200px, 30vw), 40px);
}
