.form {
  background: black;
  border-radius: 30px;
  align-self: start;
}

.container-inputs {
  display: grid;
  justify-content: center;
  gap: 15px;
  padding: 40px min(max(200px, 30vw), 40px);
}
